html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    margin: 0;
}

hr {
    color: #6aa84fff;
    background-color: #6aa84fff;
    border: transparent;
    height: 5px;
}

#container {
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
}

#header {
    display: flex;
    flex: 0 1 30px;
    padding-top: 10px;

}

#headerText {
    text-align: left;
    margin-right: auto;
    font-size: 30px;
    color: #000;
}

.headerImage {
    margin-left: auto;
    height: 30px;
    width: 30px;
}

#mainArea {
    flex: 1 1 auto;
    display: flex;
}

#list {
    width: 100%;
    display: flex;
    flex-flow: column;
}

#listText {
    border: transparent;
    flex: 1 1 auto;
    padding: 20px;
}

#listText:empty:before {
    content: "• Add items here...";
    opacity: 50%;
}

#listText:empty:focus:before{
    content: "• ";
    opacity: 100%;
}

#recipes {
    width: 0;
    overflow-x: hidden;
}

#footer {
    display: flex;
    flex-direction: row;
    flex: 0 1 100px;
}

#footer img {
    height: 50px;
    width: 50px;
}

.footerButton {
    width: 50%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    height: fit-content;
}

.buttonPressed {
    background-color: #6aa84fff;
    color: #ffffff;
}

.buttonUnpressed {
    background-color: #ffffff;
    color: #6aa84fff;
}
